@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap");


body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #F0F4C3;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
}

header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  background-color: #599ede;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
  }


.button {
    background-color: #29B6F6;
    color: white;
    border: none;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button1 {
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
#button1:hover {
    background-color: #008080;
  }

.button:hover {
    background-color: #0277BD;
}

.button img{
    width: 35px;
    height: 25px;
}

.special {
    display: flex;
    margin: 5vh 0px 0px 20vw;
    gap: 10vw;
    flex-wrap: wrap;
  }
  
  .special button {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #2e2e2e;
    background-color: azure;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .special button:hover {
    background-color: #2e2e2e;
    color: #fff;
  }

.container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.content {
    width: 80%;
    text-align: center;
}

.content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #37474F;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 40%;
    position: relative;
}

.slide {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.slide:first-child {
    display: block;
}

.about-box {
    padding: 20px;
    background-color: #4FC3F7;
    border-radius: 10px;
    width: 40%;
    margin-left: 30px;
}

.about-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #004D40;
}

.about-box p {
    font-size: 16px;
    color: #004D40;
}
